<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yasincidem.eyedropper">

    <uses-permission
        android:name="android.permission.BIND_VOICE_INTERACTION"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        android:allowBackup="true"
        android:name="com.yasincidem.EyeDropperApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:resizeableActivity="false"
        android:theme="@style/Theme.EyeDropper"
        tools:ignore="AllowBackup">
        <activity
            android:name=".ScreenShotActivity"
            android:theme="@style/Theme.EyeDropper.Transparent"
            android:autoRemoveFromRecents="true"
            android:screenOrientation="portrait"
            android:exported="true"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LauncherActivity"
            android:theme="@style/Theme.EyeDropper.Main"
            android:screenOrientation="portrait"
            android:exported="true"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.InteractionService"
            android:permission="android.permission.BIND_VOICE_INTERACTION"
            android:exported="false">
            <meta-data
                android:name="android.voice_interaction"
                android:resource="@xml/voice_interaction_service" />

            <intent-filter>
                <action android:name="android.service.voice.VoiceInteractionService" />
            </intent-filter>
        </service>
        <service
            android:name=".service.InteractionSessionService"
            android:permission="android.permission.BIND_VOICE_INTERACTION" />
        <service
            android:name=".service.ScreenShowTileService"
            android:foregroundServiceType="mediaProjection"
            android:icon="@drawable/ic_eye_dropper"
            android:label="Eye dropper"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            tools:targetApi="q"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".service.ScreenCaptureService"
            android:foregroundServiceType="mediaProjection" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.yasincidem.eyedropper.appstartup.CoilInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>